In [1]:
import pandas as pd
import numpy as np
import pymysql
import time
import datetime

In [2]:
def sql_table2():
    conn = pymysql.connect(
        host="
        user="",
        password="",
        db="dompet_second",
        charset="utf8")

    sql="""
SELECT
*
from
t_loan_order as a 
LEFT JOIN 
t_app_user_connections as b on a.app_user_id=b.app_user_id
WHERE
a.request_date>="2021-03-22"
and
a.request_date<="2021-04-22"
and
a.is_new=1
and
a.loan_order_status=5
   """              
    df=pd.read_sql(sql,conn)
    conn.close()
    return df

def sql_table():
    conn = pymysql.connect(
        host="
        user="",
        password="",
        db="dompet",
        charset="utf8")

    sql="""
SELECT
a.*,b.*
from
t_loan_order as a 
LEFT JOIN 
t_app_user_connections as b on a.app_user_id=b.app_user_id
WHERE
a.request_date>="2021-03-22"
and
a.request_date<="2021-04-22"
and
a.is_new=1
and
a.loan_order_status=5
   """              
    df=pd.read_sql(sql,conn)
    conn.close()
    return df

def sql_table3():
    conn = pymysql.connect(
        host="
        user=",
        password="",
        db="api_loansuper",
        charset="utf8")

    sql="""
SELECT
a.*,b.*
from
t_loan_order as a 
LEFT JOIN 
t_app_user_connections as b on a.app_user_id=b.app_user_id
WHERE
a.request_date>="2021-03-22"
and
a.request_date<="2021-04-22"
and
a.is_new=1
and
a.loan_order_status=5
   """              
    df=pd.read_sql(sql,conn)
    conn.close()
    return df

data2=sql_table2()

data3=sql_table3()

data1=sql_table()

data1=data1.iloc[:,:-1]

data2['loan_id']=data2['loan_id'].apply(lambda x :str(x))+'dompet_second'

data1['loan_id']=data1['loan_id'].apply(lambda x :str(x))+'dompet'

data3['loan_id']=data3['loan_id'].apply(lambda x :str(x))+'api_loansuper'

data1=data1.T.drop_duplicates().T

data2=data2.T.drop_duplicates().T

data3=data3.T.drop_duplicates().T

data=data1.append(data2).append(data3)

data1=data.drop_duplicates(subset='loan_id', keep='last')

data=data1.drop_duplicates(subset='loan_id', keep='first')

In [8]:
data

,account_cardno,allplatfrom_user_type,app_name,app_package_name,app_user_come,app_user_id,app_user_name,app_version,bind_pay_channel,connect_json,...,product_id,product_name,real_repay_amount,remaining_days,rent,repay_order_status,request_chanel,request_date,sex,sure_repay_amount
0,3780207514,1,DompetSahabat,com.daruratdt.dompetdrt,None,d4e5c5b05b5a47bdbb22ee4a79d72593,RISA ARDIANA,1.0.0,flinpay,"[{""name"":""a faisal hidayat"",""phone"":""+62821101...",...,48,DSAH1,3.1e+06,-32,720000,0,,2021-03-22 00:11:30,0,3.1e+06
3,1100012208515,1,Setor Tunai,com.trsatrakv.mdarutpca,None,a16e87cb27e34449a66e9657656ed970,HENDRI YONAS,None,wyp,"[{""name"":""Cek Nomor"",""phone"":""*808#""},{""name"":...",...,164,SetorTunPro1,1.078e+06,0,407000,1,,2021-03-22 00:23:04,1,1.078e+06
5,1080020941689,1,Toko Uang,com.tou.tokouang,None,c0c1a7776fba40fea08566dcee8b60dc,OSI PRADANA SARI,1.0.0,wyp,"[{""name"":""Ceknomor"",""phone"":""*808#""},{""name"":""...",...,169,Toko Uangpro1,2.176e+06,-32,408000,0,,2021-03-22 01:57:10,0,2.176e+06
7,0551625655,1,Setor Tunai,com.trsatrakv.mdarutpca,None,88728541a8ae437181865c32be27c118,EKA TRISETIA,None,wyp,"[{""name"":""Mamih Titan"",""phone"":""+628112413336""...",...,164,SetorTunPro1,2.156e+06,-32,407000,0,,2021-03-22 02:26:02,0,2.156e+06
9,6800929715,1,Setor Tunai,com.trsatrakv.mdarutpca,None,dbe381efd09c4f7e93bdd02e7ad0f6fb,FAHRUL ANWARINATA,None,wyp,"[{""name"":""Mc Baru 2"",""phone"":""+622140001878""},...",...,164,SetorTunPro1,2.156e+06,-32,407000,0,,2021-03-22 02:44:10,1,2.156e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43379,0860698480,2,X Cash,com.yckj.xcash,None,f208ac3cd3174727babbd27f1d05ac7b,RIFANI FADHILLA ARMIZAL,NaN,wyp,"[{""name"":""Cek Nomor"",""phone"":""*808#""},{""name"":...",...,306,KRG-1,1.94e+06,0,890000,1,,2021-04-21 22:52:40,0,1.94e+06
43386,5720536741,1,X Cash,com.yckj.xcash,None,aa716d13a18f429985c84faaa0a888da,HERMAN PELANI,NaN,wyp,"[{""name"":""Cek Nomor"",""phone"":""*808#""},{""name"":...",...,300,UNC-1,1.96e+06,1,770000,1,,2021-04-21 23:19:06,1,1.96e+06
43389,1392404940,1,X Cash,com.yckj.xcash,None,18718ea0695b4b73babf834b654e206f,TOMY ADI SETIADI,NaN,wyp,"[{""name"":""##"",""phone"":""##""},{""name"":""Cek Nomor...",...,292,GEU-1,1.99e+06,1,700000,1,,2021-04-21 23:41:47,1,1.99e+06
43399,5010161667,2,X Cash,com.yckj.xcash,None,f4c30d5bac3246968f7d8ea2cd41111a,ATIKAH HANUM,NaN,wyp,"[{""name"":""A"",""phone"":""+6281511207576""},{""name""...",...,313,RUC-1,2.0656e+06,-1,910000,0,,2021-04-21 23:47:48,0,2.0656e+06
43409,5010161667,2,X Cash,com.yckj.xcash,None,f4c30d5bac3246968f7d8ea2cd41111a,ATIKAH HANUM,NaN,wyp,"[{""name"":""A"",""phone"":""+6281511207576""},{""name""...",...,262,MAT-2,1.513e+06,-2,613000,0,,2021-04-21 23:49:09,0,1.513e+06

In [221]:
len(set(data_phone[data_phone['loan_id']==1007676]['phone']) & set(data_phone[data_phone['loan_id']==1012206]['phone']))

1736

In [194]:
data1=data.drop_duplicates(subset='loan_id', keep='last')

In [195]:
data=data1.drop_duplicates(subset='loan_id', keep='first')

In [196]:
data.index=data.loan_id

In [168]:
import tqdm

import re

import joblib

In [5]:
data_tar=joblib.load('connect_info_1.pkl')

In [8]:
data_tar=data_tar.drop('connect_json',axis=1)

In [10]:
joblib.dump(data_tar,'connect_info_1.pkl')

['connect_info_1.pkl']

In [ ]:
data.loan_order_status

In [197]:
ind=0
for i in tqdm.tqdm(data.index):
    data_ph=pd.DataFrame(eval(data.connect_json.loc[i]))
#     data_ph['phone_1']=pd.DataFrame(eval(data.connect_json.loc[i]))['phone'].apply(lambda x : 1 if re.compile(r'((^\+628)|(^08)|(^628)|(^\+08))+([0-9]{8,11})$').match(x) else 0)
    data_ph['loan_id']=data.loan_id.loc[i]
    data_ph['tar']=1-data.repay_order_status.loc[i]
    if ind==0:
        data_phone=data_ph
        ind=1
    else:
        data_phone=data_phone.append(data_ph)

100%|██████████| 6290/6290 [11:56<00:00,  8.78it/s]

In [227]:
zwz.drop_duplicates(subset='loan_id', keep='last')['loan_id'].isin(data_phone[data_phone['phone'].isin(zzz)]['loan_id'].unique())

loan_id
991779dompet           False
991795dompet           False
991801dompet           False
991831dompet           False
991855dompet           False
                       ...
839232api_loansuper    False
839238api_loansuper    False
839243api_loansuper    False
839246api_loansuper    False
839247api_loansuper    False
Name: loan_id, Length: 1695, dtype: bool

In [225]:
data_phone[data_phone['phone'].isin(zzz)]['loan_id'].unique()

array(['991786dompet', '991791dompet', '991804dompet', '991863dompet',
       '991874dompet', '991905dompet', '991962dompet', '991985dompet',
       '991998dompet', '992016dompet', '992036dompet', '992045dompet',
       '992047dompet', '992048dompet', '992069dompet', '992072dompet',
       '992089dompet', '992091dompet', '992113dompet', '992134dompet',
       '992140dompet', '992190dompet', '992204dompet', '992233dompet',
       '992234dompet', '992242dompet', '992251dompet', '992284dompet',
       '992290dompet', '992341dompet', '992374dompet', '992378dompet',
       '992386dompet', '992433dompet', '992456dompet', '992461dompet',
       '992464dompet', '992503dompet', '992577dompet', '992585dompet',
       '992613dompet', '992621dompet', '992632dompet', '992636dompet',
       '992697dompet', '992731dompet', '992737dompet', '992756dompet',
       '992773dompet', '992826dompet', '992834dompet', '992839dompet',
       '992846dompet', '992866dompet', '992873dompet', '992889dompet',
       '992899dompet', '992907dompet', '992991dompet', '992998dompet',
       '993136dompet', '993156dompet', '993165dompet', '993169dompet',
       '993274dompet', '993316dompet', '993343dompet', '993358dompet',
       '993359dompet', '993362dompet', '993367dompet', '993386dompet',
       '993400dompet', '993407dompet', '993444dompet', '993454dompet',
       '993473dompet', '993476dompet', '993501dompet', '993512dompet',
       '993570dompet', '993612dompet', '993615dompet', '993617dompet',
       '993641dompet', '993648dompet', '993694dompet', '993725dompet',
       '993731dompet', '993744dompet', '993769dompet', '993772dompet',
       '993787dompet', '993788dompet', '993804dompet', '993838dompet',
       '993855dompet', '993873dompet', '993897dompet', '993905dompet',
       '993926dompet', '993943dompet', '993951dompet', '993974dompet',
       '994030dompet', '994060dompet', '994066dompet', '994108dompet',
       '994120dompet', '994121dompet', '994139dompet', '994163dompet',
       '994175dompet', '994183dompet', '994193dompet', '994212dompet',
       '994216dompet', '994230dompet', '994235dompet', '994269dompet',
       '994318dompet', '994382dompet', '994423dompet', '994427dompet',
       '994439dompet', '994448dompet', '994450dompet', '994452dompet',
       '994511dompet', '994531dompet', '994556dompet', '994558dompet',
       '994567dompet', '994571dompet', '994579dompet', '994605dompet',
       '994654dompet', '994657dompet', '994660dompet', '994678dompet',
       '994680dompet', '994694dompet', '994700dompet', '994710dompet',
       '994713dompet', '994738dompet', '994744dompet', '994759dompet',
       '994781dompet', '994793dompet', '994799dompet', '994802dompet',
       '994804dompet', '994853dompet', '994854dompet', '994865dompet',
       '994872dompet', '994911dompet', '994958dompet', '994964dompet',
       '994966dompet', '994993dompet', '995003dompet', '995005dompet',
       '995031dompet', '995055dompet', '995075dompet', '995077dompet',
       '995088dompet', '995106dompet', '995112dompet', '995116dompet',
       '995119dompet', '995139dompet', '995178dompet', '995185dompet',
       '995195dompet', '995207dompet', '995228dompet', '995239dompet',
       '995242dompet', '995257dompet', '995261dompet', '995279dompet',
       '995293dompet', '995303dompet', '995305dompet', '995317dompet',
       '995327dompet', '995341dompet', '995347dompet', '995362dompet',
       '995410dompet', '995438dompet', '995490dompet', '995497dompet',
       '995509dompet', '995566dompet', '995604dompet', '995611dompet',
       '995639dompet', '995655dompet', '995658dompet', '995670dompet',
       '995703dompet', '995734dompet', '995735dompet', '995755dompet',
       '995759dompet', '995800dompet', '995817dompet', '995825dompet',
       '995832dompet', '995837dompet', '995862dompet', '995899dompet',
       '995911dompet', '995913dompet', '995915dompet', '995919dompet',
       '614269dompet_second', '614278dompet_second',
       '614292dompet_second', '614297dompet_second',
       '614306dompet_second', '614309dompet_second',
       '614314dompet_second', '614336dompet_second',
       '614374dompet_second', '614381dompet_second',
       '614387dompet_second', '614400dompet_second',
       '614422dompet_second', '614438dompet_second',
       '614441dompet_second', '614442dompet_second',
       '614446dompet_second', '614473dompet_second',
       '614474dompet_second', '614479dompet_second',
       '614486dompet_second', '614491dompet_second',
       '614492dompet_second', '614495dompet_second',
       '614497dompet_second', '614513dompet_second',
       '614531dompet_second', '614533dompet_second',
       '614537dompet_second', '614538dompet_second',
       '614546dompet_second', '614553dompet_second',
       '614570dompet_second', '614580dompet_second',
       '614595dompet_second', '614603dompet_second',
       '614614dompet_second', '614632dompet_second',
       '614636dompet_second', '614651dompet_second',
       '614653dompet_second', '614679dompet_second',
       '614687dompet_second', '614689dompet_second',
       '614695dompet_second', '614707dompet_second',
       '614712dompet_second', '614713dompet_second',
       '614715dompet_second', '614721dompet_second',
       '614727dompet_second', '614729dompet_second',
       '614730dompet_second', '614734dompet_second',
       '614753dompet_second', '614762dompet_second',
       '614764dompet_second', '614773dompet_second',
       '614821dompet_second', '614825dompet_second',
       '614833dompet_second', '614836dompet_second',
       '614859dompet_second', '614868dompet_second',
       '614869dompet_second', '614871dompet_second',
       '614874dompet_second', '614876dompet_second',
       '614885dompet_second', '614892dompet_second',
       '614893dompet_second', '614898dompet_second',
       '614903dompet_second', '614904dompet_second',
       '614907dompet_second', '614912dompet_second',
       '614920dompet_second', '614924dompet_second',
       '614929dompet_second', '614939dompet_second',
       '614945dompet_second', '614946dompet_second',
       '614948dompet_second', '614951dompet_second',
       '614953dompet_second', '614954dompet_second',
       '614956dompet_second', '614957dompet_second',
       '614960dompet_second', '614961dompet_second',
       '614963dompet_second', '614971dompet_second',
       '615016dompet_second', '615057dompet_second',
       '615070dompet_second', '615077dompet_second',
       '615081dompet_second', '615082dompet_second',
       '615086dompet_second', '615097dompet_second',
       '615100dompet_second', '615111dompet_second',
       '615128dompet_second', '615129dompet_second',
       '615131dompet_second', '615132dompet_second',
       '615133dompet_second', '615135dompet_second',
       '615144dompet_second', '615145dompet_second',
       '615155dompet_second', '615162dompet_second',
       '615170dompet_second', '615182dompet_second',
       '615190dompet_second', '615202dompet_second',
       '615212dompet_second', '615214dompet_second',
       '615218dompet_second', '615227dompet_second',
       '615231dompet_second', '615234dompet_second',
       '615237dompet_second', '615241dompet_second',
       '615248dompet_second', '615252dompet_second',
       '615253dompet_second', '615255dompet_second',
       '615267dompet_second', '615268dompet_second',
       '615270dompet_second', '615274dompet_second',
       '615276dompet_second', '615279dompet_second',
       '615298dompet_second', '615299dompet_second',
       '615302dompet_second', '615307dompet_second',
       '615309dompet_second', '615311dompet_second',
       '615312dompet_second', '615313dompet_second',
       '615315dompet_second', '615319dompet_second',
       '615320dompet_second', '615323dompet_second',
       '615336dompet_second', '615340dompet_second',
       '615349dompet_second', '615355dompet_second',
       '615358dompet_second', '615366dompet_second',
       '615368dompet_second', '615372dompet_second',
       '615373dompet_second', '615378dompet_second',
       '615381dompet_second', '615383dompet_second',
       '615388dompet_second', '615416dompet_second',
       '615422dompet_second', '615430dompet_second',
       '615433dompet_second', '615434dompet_second',
       '615443dompet_second', '615462dompet_second',
       '615474dompet_second', '615477dompet_second',
       '615480dompet_second', '615490dompet_second',
       '615492dompet_second', '615513dompet_second',
       '615519dompet_second', '615535dompet_second',
       '615542dompet_second', '615549dompet_second',
       '615559dompet_second', '615570dompet_second',
       '615575dompet_second', '615581dompet_second',
       '615582dompet_second', '615588dompet_second',
       '615589dompet_second', '615594dompet_second',
       '615597dompet_second', '615599dompet_second',
       '615629dompet_second', '615631dompet_second',
       '837027api_loansuper', '837086api_loansuper',
       '837101api_loansuper', '837103api_loansuper',
       '837149api_loansuper', '837207api_loansuper',
       '837208api_loansuper', '837262api_loansuper',
       '837263api_loansuper', '837266api_loansuper',
       '837267api_loansuper', '837268api_loansuper',
       '837270api_loansuper', '837274api_loansuper',
       '837284api_loansuper', '837327api_loansuper',
       '837333api_loansuper', '837341api_loansuper',
       '837401api_loansuper', '837405api_loansuper',
       '837460api_loansuper', '837493api_loansuper',
       '837496api_loansuper', '837499api_loansuper',
       '837504api_loansuper', '837525api_loansuper',
       '837547api_loansuper', '837550api_loansuper',
       '837556api_loansuper', '837578api_loansuper',
       '837605api_loansuper', '837609api_loansuper',
       '837610api_loansuper', '837639api_loansuper',
       '837656api_loansuper', '837660api_loansuper',
       '837662api_loansuper', '837686api_loansuper',
       '837687api_loansuper', '837708api_loansuper',
       '837711api_loansuper', '837737api_loansuper',
       '837775api_loansuper', '837781api_loansuper',
       '837782api_loansuper', '837784api_loansuper',
       '837811api_loansuper', '837835api_loansuper',
       '837836api_loansuper', '837857api_loansuper',
       '837865api_loansuper', '837869api_loansuper',
       '837870api_loansuper', '837878api_loansuper',
       '837913api_loansuper', '837915api_loansuper',
       '837932api_loansuper', '837933api_loansuper',
       '837940api_loansuper', '837995api_loansuper',
       '838005api_loansuper', '838008api_loansuper',
       '838051api_loansuper', '838052api_loansuper',
       '838080api_loansuper', '838087api_loansuper',
       '838091api_loansuper', '838133api_loansuper',
       '838135api_loansuper', '838138api_loansuper',
       '838225api_loansuper', '838226api_loansuper',
       '838294api_loansuper', '838314api_loansuper',
       '838322api_loansuper', '838357api_loansuper',
       '838395api_loansuper', '838486api_loansuper',
       '838490api_loansuper', '838528api_loansuper',
       '838531api_loansuper', '838571api_loansuper',
       '838572api_loansuper', '838580api_loansuper',
       '838583api_loansuper', '838647api_loansuper',
       '838650api_loansuper', '838654api_loansuper',
       '838661api_loansuper', '838663api_loansuper',
       '838670api_loansuper', '838671api_loansuper',
       '838686api_loansuper', '838690api_loansuper',
       '838691api_loansuper', '838708api_loansuper',
       '838716api_loansuper', '838717api_loansuper',
       '838721api_loansuper', '838735api_loansuper',
       '838743api_loansuper', '838744api_loansuper',
       '838747api_loansuper', '838773api_loansuper',
       '838797api_loansuper', '838804api_loansuper',
       '838807api_loansuper', '838826api_loansuper',
       '838866api_loansuper', '838867api_loansuper',
       '838883api_loansuper', '838915api_loansuper',
       '838918api_loansuper', '838920api_loansuper',
       '838925api_loansuper', '838928api_loansuper',
       '838987api_loansuper', '838989api_loansuper',
       '839066api_loansuper', '839069api_loansuper',
       '839080api_loansuper', '839081api_loansuper',
       '839131api_loansuper', '839140api_loansuper',
       '839141api_loansuper', '839142api_loansuper',
       '839154api_loansuper', '839161api_loansuper',
       '839168api_loansuper', '839172api_loansuper',
       '839173api_loansuper', '839174api_loansuper',
       '839175api_loansuper', '839235api_loansuper',
       '839236api_loansuper', '839244api_loansuper',
       '839245api_loansuper'], dtype=object)

In [219]:
zwz=data[data['loan_order_status']==5]

In [238]:
zzzz11=data[data['loan_id'].isin(data_phone[data_phone['phone'].isin(zzz)]['loan_id'].unique())][['loan_order_status','item_code','repay_order_status']]

In [240]:
1-zzzz11[zzzz11['loan_order_status']==5]['repay_order_status'].mean()

0.7757009345794392

In [220]:
zwz['loan_id'].isin(zzzz11[zzzz11['loan_order_status']==5].index)

loan_id
991779dompet           False
991795dompet           False
991801dompet           False
991831dompet           False
991855dompet           False
                       ...
839232api_loansuper    False
839238api_loansuper    False
839243api_loansuper    False
839246api_loansuper    False
839247api_loansuper    False
Name: loan_id, Length: 1695, dtype: bool

In [217]:
data['loan_id']

loan_id
991775dompet                  991775dompet
991776dompet                  991776dompet
991777dompet                  991777dompet
991778dompet                  991778dompet
991779dompet                  991779dompet
                              ...
839243api_loansuper    839243api_loansuper
839244api_loansuper    839244api_loansuper
839245api_loansuper    839245api_loansuper
839246api_loansuper    839246api_loansuper
839247api_loansuper    839247api_loansuper
Name: loan_id, Length: 6290, dtype: object

In [202]:
1-zzzz11[zzzz11['loan_order_status']==5]['repay_order_status'].mean()

0.7757009345794392

In [186]:
data[data['loan_id'].isin(data_phone[data_phone['phone'].isin(zzz)]['loan_id'].unique())][['loan_order_status','item_code']]

           loan_order_status
item_code
BEC                        7
BUD                       19
GEU                       14
GOD                        3
KRG                        3
MAT                        1
MOC                        3
MOK                       15
MOY                       39
NOD                        7
PIM                        7
POD                        6
PRT                       36
RET                        7
RUC                        4
SET                       21
SPD                        5
TOU                        3
TUB                        1
UNC                       12

In [181]:
len(data_phone[data_phone['phone'].isin(zzz)]['loan_id'].unique())

213

In [3]:
data_phone1=joblib.load('PART_1.pkl')
data_phone2=joblib.load('PART_2.pkl')
data_phone3=joblib.load('PART_3.pkl')
data_phone4=joblib.load('PART_4.pkl')
data_phone=data_phone1.append(data_phone2).append(data_phone3).append(data_phone4)

In [4]:
data_phone['tar']=1-data_phone['tar']

In [9]:
data_phone['phone']=data_phone['phone'].apply(lambda x : 1 if re.compile(r'((^\+628)|(^08)|(^628)|(^\+08))+([0-9]{8,11})$').match(x) else 0)

In [13]:
data_phone_t1=data_phone[data_phone.loan_id=='877167dompet']

In [16]:
data_phone_t1['phone'].mean()

0.7325581395348837

In [13]:
data=joblib.load('connect_info_1.pkl')

In [ ]:
account_cardno

In [20]:
i='877167dompet'

In [115]:
import difflib

In [21]:
data[data.loan_id==i]['account_cardno']=data_phone[data_phone.loan_id==i].mean()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
data[['repay_order_status','loan_id']]

                    repay_order_status              loan_id
loan_id
877167dompet                         0         877167dompet
877181dompet                         1         877181dompet
877184dompet                         1         877184dompet
877193dompet                         0         877193dompet
877203dompet                         0         877203dompet
...                                ...                  ...
837003api_loansuper                  0  837003api_loansuper
837011api_loansuper                  0  837011api_loansuper
837012api_loansuper                  0  837012api_loansuper
837021api_loansuper                  0  837021api_loansuper
837022api_loansuper                  0  837022api_loansuper

[37140 rows x 2 columns]

In [23]:
test={}
test['mean']={}
test['sum']={}
test['count']={}
for i in tqdm.tqdm(data.loan_id):
    test['mean'][i]=data_phone[data_phone.loan_id==i].mean()
    test['sum'][i]=data_phone[data_phone.loan_id==i].sum()
    test['count'][i]=data_phone[data_phone.loan_id==i].count()

  0%|          | 10/37140 [00:25<26:47:12,  2.60s/it]

KeyboardInterrupt:

In [26]:
vv1=data_phone[['loan_id','phone']].groupby('loan_id').agg(['count','sum','mean'])

In [35]:
vv1['loan_id']=vv1.index

In [43]:
vv1=vv1.drop('loan_id',axis=1)

In [94]:
vv2=vv1.merge(data[['repay_order_status']],how='left',on='loan_id')

/usr/local/lib64/python3.6/site-packages/pandas/core/reshape/merge.py:617: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [48]:
import toad

In [114]:
vv2[vv2[ ('phone', 'mean')]<0.001]['repay_order_status'].mean()

0.7142857142857143

In [78]:
vv2['repay_order_status']=1-vv2['repay_order_status'].astype(float)

20033

In [85]:
toad.KS_bucket(1-vv2[ ('phone', 'mean')].astype(float),vv2['repay_order_status'].astype(float),bucket=10)

,min,max,bads,goods,total,bad_rate,good_rate,odds,bad_prop,good_prop,total_prop,cum_bad_rate,cum_bad_rate_rev,cum_bads_prop,cum_bads_prop_rev,cum_goods_prop,cum_goods_prop_rev,cum_total_prop,cum_total_prop_rev,ks
0,0.000000,0.006466,1738.0,1974.0,3712.0,0.468211,0.531789,0.880446,0.101596,0.098537,0.099946,0.468211,0.460609,0.101596,1.000000,0.098537,1.000000,0.099946,1.000000,0.003058
1,0.006472,0.014577,1700.0,2008.0,3708.0,0.458468,0.541532,0.846614,0.099375,0.100235,0.099838,0.463342,0.459764,0.200970,0.898404,0.198772,0.901463,0.199785,0.900054,0.002198
2,0.014599,0.022312,1726.0,1994.0,3720.0,0.463978,0.536022,0.865597,0.100894,0.099536,0.100162,0.463555,0.459926,0.301865,0.799030,0.298308,0.801228,0.299946,0.800215,0.003557
3,0.022321,0.030691,1894.0,1819.0,3713.0,0.510100,0.489900,1.041231,0.110715,0.090800,0.099973,0.475190,0.459346,0.412580,0.698135,0.389108,0.701692,0.399919,0.700054,0.023472
4,0.030702,0.043353,1867.0,1849.0,3716.0,0.502422,0.497578,1.009735,0.109137,0.092298,0.100054,0.480640,0.450891,0.521716,0.587420,0.481406,0.610892,0.499973,0.600081,0.040311
5,0.043379,0.064032,1731.0,1983.0,3714.0,0.466074,0.533926,0.872920,0.101187,0.098987,0.100000,0.478212,0.440579,0.622903,0.478284,0.580392,0.518594,0.599973,0.500027,0.042511
6,0.064039,0.101818,1691.0,2023.0,3714.0,0.455304,0.544696,0.835887,0.098848,0.100983,0.100000,0.474939,0.434206,0.721751,0.377097,0.681376,0.419608,0.699973,0.400027,0.040376
7,0.101852,0.176796,1615.0,2100.0,3715.0,0.434724,0.565276,0.769048,0.094406,0.104827,0.100027,0.469911,0.427174,0.816157,0.278249,0.786203,0.318624,0.800000,0.300027,0.029954
8,0.176899,0.327635,1673.0,2041.0,3714.0,0.450458,0.549542,0.819696,0.097796,0.101882,0.100000,0.467750,0.423398,0.913953,0.183843,0.888085,0.213797,0.900000,0.200000,0.025869
9,0.327684,1.000000,1472.0,2242.0,3714.0,0.396338,0.603662,0.656557,0.086047,0.111915,0.100000,0.460609,0.396338,1.000000,0.086047,1.000000,0.111915,1.000000,0.100000,0.000000

In [106]:
data_phone=data_phone.merge(data[['id_card_no']],how='left',on='loan_id')

In [ ]:
vv

In [107]:
vv=data_phone[['phone','tar']].groupby('phone').agg(['count','sum','mean'])

add=vv.sort_values(by=('tar', 'mean'),ascending=False)

In [108]:
add[(add[('tar', 'count')]>100) & (add[('tar', 'mean')]>0.8)]

                 tar
               count  sum      mean
phone
MARIANI          254  254  1.000000
+6282320845298   111   99  0.891892
+6281776056280   123  109  0.886179
+6287848784349   130  115  0.884615
+6281615325291   102   90  0.882353
...              ...  ...       ...
085698287624     736  589  0.800272
+6285217287310   746  597  0.800268
+6285215203700   816  653  0.800245
+6287705058254   831  665  0.800241
087809530001     946  757  0.800211

[2157 rows x 3 columns]

In [28]:
zzf=add[(add[('tar', 'count')]>50)&(add[('tar', 'count')]<0.8)& (add[('tar', 'mean')]<0.8) & (add[('tar', 'mean')]>0.75)]

In [81]:
zzf=add[(add[('tar', 'count')]>50)& (add[('tar', 'mean')]>0.8)]

In [110]:
zzz=list(add[(add[('tar', 'count')]>100) & (add[('tar', 'mean')]>0.8)].index)

In [111]:
df_df=data_phone[data_phone['phone'].isin(zzz)]

In [58]:
1-data['repay_order_status'].mean()

0.4606085083467959

In [96]:
df_df=data_phone[~data_phone['phone'].isin(zzz)]

In [97]:
df_df

               name         phone              loan_id  tar
0         Bal Check         *126#         877167dompet    1
1       Info Access         *128#         877167dompet    1
2          Ceknomor         *808#         877167dompet    1
3    Data Transaksi         *887#         877167dompet    1
4         Cek Pulsa         *888#         877167dompet    1
..              ...           ...                  ...  ...
131            Nces  089636211805  837022api_loansuper    1
132          Tami 2  089652444078  837022api_loansuper    1
133            Gina  089655992029  837022api_loansuper    1
134   Cust. Service           818  837022api_loansuper    1
135       Voicemail           888  837022api_loansuper    1

[20194488 rows x 4 columns]

In [88]:
df_df.drop_duplicates('loan_id',keep='last')['tar'].mean()

0.7690175546658454

In [95]:
1-data[data['loan_id'].isin(df_df.drop_duplicates('loan_id',keep='last')['loan_id'])]['repay_order_status'].mean()

0.4284988645870682

In [130]:
data['loan_id']=data.index

In [140]:
zz_dic={}

In [141]:
import tqdm

In [142]:
for i in tqdm.tqdm(zzz):
    zz_dic[i]={}
    acd=df_df[df_df['phone']==i].drop_duplicates('loan_id',keep='first')['tar']
    zz_dic[i]['mean']=acd.mean()
    zz_dic[i]['count']=acd.count()
    zz_dic[i]['sum']=acd.sum()

100%|██████████| 2157/2157 [01:59<00:00, 17.99it/s]

In [146]:
zzz11=pd.DataFrame(zz_dic).T

In [148]:
zzz11.sort_values(by=['count','mean'],ascending=False)

                    mean  count    sum
085880482154    0.803488  860.0  691.0
+6281298029624  0.813380  852.0  693.0
+6282297107235  0.804038  842.0  677.0
+6285212162973  0.809409  829.0  671.0
+6287705058254  0.799759  829.0  663.0
...                  ...    ...    ...
+6285693213126  0.800000  100.0   80.0
+6281334588984  0.826531   98.0   81.0
082323601993    0.800000   75.0   60.0
+6282139541459  0.803030   66.0   53.0
MARIANI         1.000000    2.0    2.0

[2157 rows x 3 columns]

In [135]:
df_df[df_df['phone']=='MARIANI'].drop_duplicates('loan_id',keep='first')['tar'].mean()

1.0

In [136]:
df_df[df_df['phone']=='MARIANI'].drop_duplicates('loan_id',keep='first')['tar'].count()

2

In [139]:
df_df[df_df['phone']=='MARIANI'].drop_duplicates('loan_id',keep='first')['tar'].sum()

2

In [133]:
df_df.drop_duplicates('loan_id',keep='last')['loan_id']

1                 877407dompet
1754              877639dompet
1785              877642dompet
2806              878033dompet
2807              878105dompet
                  ...
1262548    836744api_loansuper
1262549    836827api_loansuper
1262550    836832api_loansuper
1264881    837011api_loansuper
1267212    837012api_loansuper
Name: loan_id, Length: 2740, dtype: object

In [132]:
1-data[data['loan_id'].isin(df_df.drop_duplicates('loan_id',keep='last')['loan_id'])]['repay_order_status'].mean()

0.7602189781021897

In [117]:
df_df=df_df.merge(data[['mobile']],how='left',on='loan_id')

In [220]:
len(set(df_df[df_df['phone']=='+6285740800956'].drop_duplicates('loan_id',keep='last')['loan_id']) & set(df_df[df_df['phone']=='083872210526'].drop_duplicates('loan_id',keep='last')['loan_id']))

4

In [127]:
df_df[df_df['phone']=='+6281615325291'].drop_duplicates('loan_id',keep='first')['tar'].mean()

0.8867924528301887

In [116]:
df_df[df_df['phone']=='MARIANI']

,name,phone,loan_id,tar,id_card_no,mobile
157588,DB_ADELSEN,MARIANI,938140dompet,1,1671145910950007,6289522002668
157589,DB_ADZAM,MARIANI,938140dompet,1,1671145910950007,6289522002668
157590,DB_ALFIAH,MARIANI,938140dompet,1,1671145910950007,6289522002668
157591,DB_ALIKA NAYLA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157592,DB_ALIKA PUTRI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157593,DB_ALVIN,MARIANI,938140dompet,1,1671145910950007,6289522002668
157594,DB_AMELIA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157595,DB_ANDI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157596,DB_ANDINI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157597,DB_ANDIRA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157598,DB_ANITA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157599,DB_ANJANI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157600,DB_APRILIA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157601,DB_APRILLIA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157602,DB_AQILAH,MARIANI,938140dompet,1,1671145910950007,6289522002668
157603,DB_AQMAL,MARIANI,938140dompet,1,1671145910950007,6289522002668
157604,DB_ARI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157605,DB_ARYA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157606,DB_AZZAM,MARIANI,938140dompet,1,1671145910950007,6289522002668
157607,DB_BAGUS,MARIANI,938140dompet,1,1671145910950007,6289522002668
157608,DB_BAYU,MARIANI,938140dompet,1,1671145910950007,6289522002668
157609,DB_BELA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157610,DB_BENI ISKANDAR,MARIANI,938140dompet,1,1671145910950007,6289522002668
157611,DB_BIAN,MARIANI,938140dompet,1,1671145910950007,6289522002668
157612,DB_CACA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157613,DB_CAHYA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157614,DB_CYNTHIA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157615,DB_DAMAR,MARIANI,938140dompet,1,1671145910950007,6289522002668
157616,DB_DANTI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157617,DB_DAYAT,MARIANI,938140dompet,1,1671145910950007,6289522002668
157618,DB_DEA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157619,DB_DEBY,MARIANI,938140dompet,1,1671145910950007,6289522002668
157620,DB_DESTYA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157621,DB_DESY,MARIANI,938140dompet,1,1671145910950007,6289522002668
157622,DB_DEVIA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157623,DB_DIANA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157624,DB_DINA AGUSTIANI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157625,DB_DINDA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157626,DB_DONNA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157627,DB_DWI KARTIKA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157628,DB_EGI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157629,DB_EMILDA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157630,DB_ERNA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157631,DB_FADIUN,MARIANI,938140dompet,1,1671145910950007,6289522002668
157632,DB_FARDAN,MARIANI,938140dompet,1,1671145910950007,6289522002668
157633,DB_FAREL,MARIANI,938140dompet,1,1671145910950007,6289522002668
157634,DB_FARHAN,MARIANI,938140dompet,1,1671145910950007,6289522002668
157635,DB_FARHAN AKBAR,MARIANI,938140dompet,1,1671145910950007,6289522002668
157636,DB_FITRA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157637,DB_HADZIQ,MARIANI,938140dompet,1,1671145910950007,6289522002668
157638,DB_HAFIDZ,MARIANI,938140dompet,1,1671145910950007,6289522002668
157639,DB_HAFIZ,MARIANI,938140dompet,1,1671145910950007,6289522002668
157640,DB_IKA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157641,DB_INA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157642,DB_INDAH,MARIANI,938140dompet,1,1671145910950007,6289522002668
157643,DB_INDAH AISYAH,MARIANI,938140dompet,1,1671145910950007,6289522002668
157644,DB_INDAH PS,MARIANI,938140dompet,1,1671145910950007,6289522002668
157645,DB_INDRA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157646,DB_IRHAM,MARIANI,938140dompet,1,1671145910950007,6289522002668
157647,DB_JASON,MARIANI,938140dompet,1,1671145910950007,6289522002668
157648,DB_KAFI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157649,DB_KALILA AURELIA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157650,DB_KAMELIA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157651,DB_KEYRA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157652,DB_KGS ILHAM,MARIANI,938140dompet,1,1671145910950007,6289522002668
157653,DB_KRISNA MUKTI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157654,DB_LOLI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157655,DB_LUKI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157656,DB_M.HANIF,MARIANI,938140dompet,1,1671145910950007,6289522002668
157657,DB_MALIKA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157658,DB_MALISA PANGI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157659,DB_MARDIAN,MARIANI,938140dompet,1,1671145910950007,6289522002668
157660,DB_MAULANA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157661,DB_MAULINA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157662,DB_MAYA ULIANTI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157663,DB_MEISYAH DWI P,MARIANI,938140dompet,1,1671145910950007,6289522002668
157664,DB_MIRANDA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157665,DB_NAURA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157666,DB_NOPRI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157667,DB_NUR LAILA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157668,DB_NURLELA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157669,DB_NYAYU SALSABILA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157670,DB_PARMI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157671,DB_RAHMAT,MARIANI,938140dompet,1,1671145910950007,6289522002668
157672,DB_RIANI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157673,DB_RIANTI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157674,DB_RIDWAN,MARIANI,938140dompet,1,1671145910950007,6289522002668
157675,DB_RINDRA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157676,DB_RIRIN,MARIANI,938140dompet,1,1671145910950007,6289522002668
157677,DB_RIYANI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157678,DB_ROHAYA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157679,DB_ROMA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157680,DB_RUSDIANA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157681,DB_SAKIR ALAN,MARIANI,938140dompet,1,1671145910950007,6289522002668
157682,DB_SALSA APRILLIA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157683,DB_SALSABILA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157684,DB_SAMUEL,MARIANI,938140dompet,1,1671145910950007,6289522002668
157685,DB_SANDI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157686,DB_SANTI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157687,DB_SARI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157688,DB_SELINA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157689,DB_SERLY DERIANI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157690,DB_SINTA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157691,DB_SITI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157692,DB_SITI HANUM,MARIANI,938140dompet,1,1671145910950007,6289522002668
157693,DB_SUCI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157694,DB_SUPRIYADI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157695,DB_SURYA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157696,DB_SUSI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157697,DB_UMI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157698,DB_VIVIN,MARIANI,938140dompet,1,1671145910950007,6289522002668
157699,DB_WANDA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157700,DB_WANTO,MARIANI,938140dompet,1,1671145910950007,6289522002668
157701,DB_WINDA KURNIATI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157702,DB_YADI,MARIANI,938140dompet,1,1671145910950007,6289522002668
157703,DB_YULISTIRA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157704,DB_YUNI INDAH PURNAMA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157705,DB_ZALINA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157706,DB_ZASKYA,MARIANI,938140dompet,1,1671145910950007,6289522002668
157707,DB_ZIVANKA,MARIANI,938140dompet,1,1671145910950007,6289522002668
551827,DB_ADELSEN,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551828,DB_ADZAM,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551829,DB_ALFIAH,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551830,DB_ALIKA NAYLA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551831,DB_ALIKA PUTRI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551832,DB_ALVIN,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551833,DB_AMELIA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551834,DB_ANDI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551835,DB_ANDINI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551836,DB_ANDIRA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551837,DB_ANITA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551838,DB_ANJANI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551839,DB_APRILIA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551840,DB_APRILLIA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551841,DB_AQILAH,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551842,DB_AQMAL,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551843,DB_ARI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551844,DB_ARYA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551845,DB_AZZAM,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551846,DB_BAGUS,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551847,DB_BAYU,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551848,DB_BELA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551849,DB_BENI ISKANDAR,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551850,DB_BIAN,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551851,DB_CACA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551852,DB_CAHYA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551853,DB_CYNTHIA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551854,DB_DAMAR,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551855,DB_DANTI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551856,DB_DAYAT,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551857,DB_DEA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551858,DB_DEBY,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551859,DB_DESTYA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551860,DB_DESY,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551861,DB_DEVIA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551862,DB_DIANA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551863,DB_DINA AGUSTIANI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551864,DB_DINDA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551865,DB_DONNA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551866,DB_DWI KARTIKA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551867,DB_EGI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551868,DB_EMILDA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551869,DB_ERNA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551870,DB_FADIUN,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551871,DB_FARDAN,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551872,DB_FAREL,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551873,DB_FARHAN,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551874,DB_FARHAN AKBAR,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551875,DB_FITRA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551876,DB_HADZIQ,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551877,DB_HAFIDZ,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551878,DB_HAFIZ,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551879,DB_IKA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551880,DB_INA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551881,DB_INDAH,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551882,DB_INDAH AISYAH,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551883,DB_INDAH PS,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551884,DB_INDRA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551885,DB_IRHAM,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551886,DB_JASON,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551887,DB_KAFI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551888,DB_KALILA AURELIA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551889,DB_KAMELIA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551890,DB_KEYRA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551891,DB_KGS ILHAM,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551892,DB_KRISNA MUKTI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551893,DB_LOLI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551894,DB_LUKI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551895,DB_M.HANIF,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551896,DB_MALIKA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551897,DB_MALISA PANGI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551898,DB_MARDIAN,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551899,DB_MARTA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551900,DB_MARWAH,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551901,DB_MIKAYLA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551902,DB_MULVI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551903,DB_MUNA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551904,DB_MUSTOFA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551905,DB_MUTIA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551906,DB_NABILA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551907,DB_NADILA HUMAIRAH,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551908,DB_NAILA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551909,DB_NAIRA CATHRINE,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551910,DB_NAISKA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551911,DB_NANDA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551912,DB_NATASHA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551913,DB_NEISHA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551914,DB_NETI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551915,DB_NURANIDA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551916,DB_NURHALISA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551917,DB_NURLINDA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551918,DB_NURSITI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551919,DB_OKTI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551920,DB_OLIVIA RIANTI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551921,DB_PRISCILA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551922,DB_PUTRI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551923,DB_RAFLI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551924,DB_RAGIL,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551925,DB_RAMA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551926,DB_RANDI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551927,DB_RANGGA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551928,DB_RATNA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551929,DB_RAVI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551930,DB_RENDY,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551931,DB_RENITA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551932,DB_RIAN,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551933,DB_SAFIRA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551934,DB_SEPRIYADI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551935,DB_SERA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551936,DB_SHAKA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551937,DB_SIDIK,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551938,DB_SITI NURFADILLAH,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551939,DB_SITI RAMADHANIATI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551940,DB_SUHANAH,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551941,DB_SULTAN AHMAD,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551942,DB_SWIFA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551943,DB_SYAHURA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551944,DB_TAMRIN,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551945,DB_TEDY,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551946,DB_TIKA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551947,DB_TIWI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551948,DB_TRI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551949,DB_TRI PERMATA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551950,DB_UMI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551951,DB_VIVIN,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551952,DB_WANDA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551953,DB_WANTO,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551954,DB_WINDA KURNIATI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551955,DB_YADI,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551956,DB_YULISTIRA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551957,DB_YUNI INDAH PURNAMA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551958,DB_ZALINA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551959,DB_ZASKYA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668
551960,DB_ZIVANKA,MARIANI,592019dompet_second,1,1671145910950007,6289522002668

In [118]:
data1=sql_table()

In [119]:
data=data1.drop_duplicates(subset='loan_id', keep='last')

In [107]:
import tqdm

import re

In [120]:
data=data.iloc[:,:-1]

data.index=data.loan_id

In [122]:
ind=0
for i in tqdm.tqdm(data.index):
    data_ph=pd.DataFrame(eval(data.connect_json.loc[i]))
    data_ph['phone_1']=pd.DataFrame(eval(data.connect_json.loc[i]))['phone'].apply(lambda x : 1 if re.compile(r'((^\+628)|(^08)|(^628)|(^\+08))+([0-9]{8,11})$').match(x) else 0)
    data_ph['loan_id']=data.loan_id.loc[i]
    data_ph['tar']=1-data.repay_order_status.loc[i]
    if ind==0:
        data_phone=data_ph
        ind=1
    else:
        data_phone=data_phone.append(data_ph)

100%|██████████| 3071/3071 [03:50<00:00, 13.34it/s]

In [137]:
df_df=data_phone[data_phone['phone'].isin(zzz)]

In [22]:
import pandas as pd

In [23]:
pd.set_option("display.max_rows",600)

In [107]:
data[['loan_id','id_card_no']]

         loan_id        id_card_no
loan_id
877181    877181  3175022307920008
877184    877184  3515044209910001
877193    877193  1106130210830004
877207    877207  5104076503940001
877221    877221  1806016607970004
...          ...               ...
989324    989324  5272012306840002
989329    989329  3175020604800013
989404    989404  3326140603810002
989481    989481  2105015508920001
989540    989540  1105012305980001

[10776 rows x 2 columns]

In [138]:
df_df=df_df.merge(data[['id_card_no','request_date']],how='left',on='loan_id')

In [92]:
data[data.loan_id.isin(data_phone[data_phone['phone'].isin(zzz)]['loan_id'].unique())]['id_card_no'].unique()

array(['3404121907690003', '1671071207710021', '5208041905930001',
       '3172011106870005', '1208045010910002', '8171025306850008',
       '3174044310790012', '3603120304980008', '1271084909820002',
       '3402044912880001', '3173044209971002', '6303051404930003',
       '3505021709830002', '3175105004980004', '3216191512800006',
       '3578055905880011', '3201042003920007', '3171034909021003',
       '3210030310870021', '3301226205940001', '3601240407940001',
       '3276045212960004', '3207151804930001', '3404105812880003',
       '3301200101010002', '3217140110860005', '3329174904810005',
       '3276024608930009', '3671116111950005', '3311064108760003',
       '3505142601860003', '3273110101850002', '3323131605880001',
       '3174102804010013', '3205382506930002', '3274011008820004',
       '3217107006950007', '3516132504980001', '3319065112880001',
       '3304056708900004', '3674066802890004', '3303044702890002',
       '3316111811850002', '1471034602780002', '7173026310900001',
       '3674064503950002', '3172024407920007', '3471130604720003',
       '3273095705730001', '3301021709010005', '3272025210990001',
       '3674064303930020', '3578054901000003', '3271015002940016',
       '3522074305990003', '8171045403990001', '3578100705760012',
       '3578011810920002', '3171031912990012', '3175094203820006',
       '3372045603840004', '3471136803940001', '1571071604900101',
       '3172020610920003', '3507044404960001', '3272025911940899',
       '3302145705000008', '3203091207910005', '3175066410750007',
       '1111144404910001', '1671106712960003', '3175021310800006',
       '3204254411780003', '3217151402960008', '1603016405930004',
       '5316026711900001', '1376010411830001', '3215090604770005',
       '3524156407020001', '3217094502750028', '3215254302010005',
       '3172020304001002', '3519084103930002', '3202121708960011',
       '3172022909900009', '3305160502020002', '3175094304940001',
       '3671065001810005', '3204104801980001', '3272066406960021',
       '3321054701860001', '3673045204820001', '3204272308880002',
       '6171056908750009', '3324142306930002', '3211241503820002',
       '3502101805820001', '3372052403900001', '3674031402990003',
       '3324075005830003', '3171086003971003', '3204280612890002',
       '3212214107600023', '3273040106880004', '3524190306930001',
       '1571025011930041', '3671115510860004', '3278010202960006',
       '3516026405020002', '3671055508880009', '1674016810930002',
       '3205173110790002', '3374151212840002', '3274055708760010',
       '3571022211980001', '3273126406960002', '3603281501940003',
       '3603301409960002', '3273282510960002', '3514141406910001',
       '7371076908730001', '3216016004840007', '3203125010880009',
       '3578092512970001', '3174041701750008', '3174030205930005',
       '1674012110790004', '3309146202950002', '3373040910860002',
       '3671071207840006', '7371122602850008', '3274031106880012',
       '3329056811960007', '3524066704900001', '3674016506960006',
       '3515071103920002', '3205052903980006', '3525101405950002',
       '3175096101950004', '3172024511980001', '3203020301890018',
       '6472061302920003', '3578076811980002', '3316095204830007',
       '3515062106930008', '3216065212930014', '3275084303900022',
       '1405035510920002', '1209195911840004', '3573026703930004',
       '3171030607890008', '6406072105870001', '3207141710910001',
       '3310031008890001', '3319035005860001', '3174014310930004',
       '3171071208820001', '3174093011860001', '3671072402680002',
       '3602150702920007', '2102015602930004', '3202126701810003',
       '3402170710970001', '3326190907980002', '3206015109900001',
       '3172040912881001', '3174095602960007', '3578216810850002',
       '3204167011970006', '3202012103800005', '1274060704970002',
       '3276061405780004', '3208070905950004', '3173084412890004',
       '3275010504950023', '3271042811860013', '3318181211900001',
       '3217086810740008', '3511112511930001', '3323176206960002',
       '3311105908820002', '3507225212860003', '3173036705941001',
       '3306085001840002', '3273224310770003', '3172036801910006',
       '1571032911900001', '3309111901900002', '3278010807940004',
       '3173084602880003', '3506176410920001', '3273014809950006',
       '3275045112950017', '3603022112900004', '3402166010780004',
       '3502102804910001', '3471076104680001', '3578040812860004',
       '3602150612990003', '3211191807810013', '3275042210940015',
       '3329166509940008', '3202255112870001', '3174042112920003',
       '3174022108910003', '3201145801880002', '3571021511930003',
       '3172055209890008', '3275067103830005', '3374136811880001',
       '3329160510870008', '3404131506750007', '3302111402840002',
       '3275015005020011', '3603144101940003', '5206013012890001',
       '3273287110830002', '3321116007960003', '3216065406880001'],
      dtype=object)

In [44]:
data_phone[data_phone['phone'].isin()]['loan_id'].unique()

array([574899, 574919, 575022, 575065, 575079, 575151, 575212, 575494,
       575521, 575587, 575597, 575717, 575825, 575967, 575968, 576188,
       576200, 576264, 576397, 576440, 576564, 576631, 576751, 576770,
       576961, 577037, 577087, 577522, 577544, 577690, 577735, 577800,
       577872, 577874, 577875, 577912, 578023, 578033, 578047, 578156,
       578285, 578293, 578526, 578550, 578761, 578787, 578846, 578851,
       579176, 579198, 579412, 579534, 579688, 579749, 579756, 579796,
       579982, 580206, 580213, 580304, 580327, 580331, 580505, 580539,
       581050, 581163, 581186, 581208, 581300, 581342, 581369, 581785,
       581834, 581866, 581969, 581998, 582205, 582394, 582488, 582497,
       582632, 583074, 583094, 583118, 583259, 583362, 583699, 583929,
       584082, 584105, 584243, 584252, 584281, 584336, 584465, 584598,
       584741, 585004, 585910, 586563, 587034, 587111, 587119, 588000,
       588251, 588256, 588290, 588357, 588425, 588557, 588832, 589022,
       589051, 589118, 589123, 589922, 590561, 590865, 591203, 591332,
       591357, 591600, 591702, 591743, 591805, 592025, 592048, 592053,
       592465, 592542, 592555, 592575, 592587, 592730, 592742, 592768,
       592771, 592799, 593260, 593550, 593602, 593850, 593949, 593977,
       593997, 594025, 594084, 594129, 594142, 594388, 594648, 594940,
       594998, 595008, 595012, 595338, 595405, 595459, 595507, 595524,
       595565, 596279, 596313, 596369, 596619, 596781, 596785, 596821,
       596826, 596887, 597042, 597072, 597073, 597078, 597232, 597252,
       597263, 597338, 597375, 597411, 597431, 597443, 597452, 597476,
       597509, 597511, 597534, 597597, 598260, 598286, 598295, 598415,
       598486, 598647, 598659, 598709, 598713, 598737, 599004, 599121,
       599152, 599157, 599229, 599399, 599634, 599644, 599846, 600052,
       600354, 600480, 600521, 600632, 600635, 600727, 600750, 600786,
       600913, 601001, 601016, 601022, 601024, 601031, 601377, 601546,
       601570, 601917, 601919, 602044, 602050, 602051, 602118, 602327,
       602492, 602637, 602693, 602728, 602738, 602962, 602990, 602993,
       603022, 603073, 603081, 603443, 603627, 603763, 603782, 604030,
       604787, 604920, 604936, 604957, 605275, 605430, 605566, 605811,
       605828, 605835, 605857, 605859, 605936, 606003, 606103, 606123,
       606139, 606194, 606819, 606834, 607148, 607228, 607239, 607399,
       607662, 607863, 607877, 608014, 608019, 608172, 608238, 608248,
       608285, 608505, 608654, 608670, 608678, 608694, 608749, 609029,
       609085, 609257, 609316, 609516, 609518, 609545, 609546, 609585,
       609740, 609780, 609851, 609956, 610048, 610190, 610237, 610280,
       610331, 610335])

In [125]:
vv=data_phone[['phone','tar']].groupby('phone').agg(['count','sum','mean'])

add=vv.sort_values(by=('tar',  'mean'),ascending=False)

In [135]:
add[(add[('tar', 'count')]>100) & (add[('tar', 'mean')]>0.8)]

                   tar
                 count  sum      mean
phone
0877890303655      104   91  0.875000
+6282246000206     104   91  0.875000
082331782075       102   89  0.872549
+6281297701737     101   88  0.871287
085210794075       138  120  0.869565
085216966582       114   99  0.868421
081222416378       111   96  0.864865
08999654632        110   95  0.863636
081382744091       110   95  0.863636
085715647065       110   95  0.863636
087785224382       117  101  0.863248
+6285215203700     117  101  0.863248
081295459931       109   94  0.862385
081931523338       109   94  0.862385
085280806221       101   87  0.861386
081291497617       137  118  0.861314
087772880259       107   92  0.859813
089643297587       111   95  0.855856
083808423155       152  130  0.855263
081316383423       117  100  0.854701
4920721899         110   94  0.854545
087772577033       109   93  0.853211
+6285281906261     109   93  0.853211
085217953344       109   93  0.853211
+6282112120400     102   87  0.852941
081298005534       115   98  0.852174
+6287871443681     115   98  0.852174
085211550401       135  115  0.851852
+6285210432415     108   92  0.851852
081314558511       108   92  0.851852
085215218780       128  109  0.851562
+6285211327060     101   86  0.851485
+6282314716906     141  120  0.851064
+62895635380592    127  108  0.850394
081906265559       120  102  0.850000
1630000514847      113   96  0.849558
085213979345       106   90  0.849057
085279908697       106   90  0.849057
085882580312       106   90  0.849057
0895337306661      106   90  0.849057
+628156666291      159  135  0.849057
+6282323522773     119  101  0.848739
087871129545       105   89  0.847619
085887577699       105   89  0.847619
+6281383544425     111   94  0.846847
+6283872066744     111   94  0.846847
+6283812767389     111   94  0.846847
+6281298029624     124  105  0.846774
082151028313       117   99  0.846154
+6281906111695     104   88  0.846154
087882384694       104   88  0.846154
085945815450       104   88  0.846154
081218150928       110   93  0.845455
081905698562       103   87  0.844660
085742243146       103   87  0.844660
085779337769       109   92  0.844037
087808742055       109   92  0.844037
085929926792       115   97  0.843478
539611039144       115   97  0.843478
081299020201       134  113  0.843284
081280372496       108   91  0.842593
+6289670094321     108   91  0.842593
081381158855       108   91  0.842593
083813649534       114   96  0.842105
081806066113       133  112  0.842105
08128926789        145  122  0.841379
087882382103       107   90  0.841121
+6285319453526     107   90  0.841121
081380099177       113   95  0.840708
083127313641       113   95  0.840708
085212271206       138  116  0.840580
085210973682       144  121  0.840278
081284300443       125  105  0.840000
081908258655       106   89  0.839623
087773780907       112   94  0.839286
085959103384       112   94  0.839286
+6287789030655     105   88  0.838095
+6282217650933     111   93  0.837838
085368549772       111   93  0.837838
087879524617       111   93  0.837838
+6285282745452     111   93  0.837838
+6282247895352     117   98  0.837607
+6287819883261     117   98  0.837607
087719448299       166  139  0.837349
085959228566       135  113  0.837037
+6282319668806     104   87  0.836538
082112621826       104   87  0.836538
081385972966       104   87  0.836538
085217132569       122  102  0.836066
+6282297107235     128  107  0.835938
+6281214464582     134  112  0.835821
+6281316348979     103   86  0.834951
+6281298701859     103   86  0.834951
+6281319328199     121  101  0.834711
+6281295382403     139  116  0.834532
085719931682       139  116  0.834532
085640082882       102   85  0.833333
+6285213598452     120  100  0.833333
087879988986       132  110  0.833333
087884966227       138  115  0.833333
085939581636       108   90  0.833333
085219984089       102   85  0.833333
087871365696       108   90  0.833333
087871356102       144  120  0.833333
081382496676       143  119  0.832168
+6287773015031     113   94  0.831858
089635523036       113   94  0.831858
083812320666       107   89  0.831776
+6283807005257     107   89  0.831776
+6283812514624     101   84  0.831683
085311990258       142  118  0.830986
081317534634       136  113  0.830882
+6281286252630     118   98  0.830508
+6281297722113     118   98  0.830508
087809638178       106   88  0.830189
085725705421       106   88  0.830189
+6281318702381     106   88  0.830189
083890637210       106   88  0.830189
085216182263       141  117  0.829787
085217350800       129  107  0.829457
085926961896       129  107  0.829457
+6285602746048     129  107  0.829457
+6282147683514     123  102  0.829268
085218914375       117   97  0.829060
+6285216920800     111   92  0.828829
083813320548       111   92  0.828829
+6281298029405     111   92  0.828829
087806735518       140  116  0.828571
085945375688       122  101  0.827869
+6285280480495     116   96  0.827586
0895330145242      116   96  0.827586
083841486202       116   96  0.827586
085293687236       145  120  0.827586
085313668566       139  115  0.827338
085213815543       139  115  0.827338
085217765145       110   91  0.827273
+6285219571642     110   91  0.827273
085211155188       121  100  0.826446
081387361896       144  119  0.826389
083812192909       115   95  0.826087
085782490412       138  114  0.826087
+6281938237159     115   95  0.826087
+6285921611109     115   95  0.826087
+6282325103342     132  109  0.825758
085273436415       109   90  0.825688
+6287705058254     126  104  0.825397
081313726823       103   85  0.825243
+6285212429869     103   85  0.825243
085741925665       103   85  0.825243
+6289514980628     103   85  0.825243
081774957445       143  118  0.825175
+6282210736269     120   99  0.825000
+6285717400166     120   99  0.825000
081280355709       120   99  0.825000
081382132556       137  113  0.824818
+628112667000      137  113  0.824818
0895346350061      137  113  0.824818
+6281992251111     137  113  0.824818
+6285214145032     114   94  0.824561
085219675290       114   94  0.824561
0895400316847      114   94  0.824561
1630001865537      108   89  0.824074
+6282164917784     108   89  0.824074
+6281807527525     108   89  0.824074
082312434372       125  103  0.824000
+6283812321350     125  103  0.824000
087873018669       142  117  0.823944
4920795922         102   84  0.823529
0816662239         102   84  0.823529
+6282113934676     102   84  0.823529
+6285210073157     119   98  0.823529
082114418668       130  107  0.823077
+6281808532941     113   93  0.823009
087771290042       141  116  0.822695
089507664542       107   88  0.822430
3604152010090001   107   88  0.822430
087871489301       107   88  0.822430
+6287774060500     107   88  0.822430
+6287710578114     107   88  0.822430
+6285893362270     107   88  0.822430
+6287780647500     107   88  0.822430
085213983257       118   97  0.822034
+6285216106929     112   92  0.821429
083818948725       112   92  0.821429
087771352658       140  115  0.821429
+6285212162973     123  101  0.821138
083806759073       106   87  0.820755
085218724727       106   87  0.820755
1630002687906      106   87  0.820755
+6285217711796     106   87  0.820755
089603803487       106   87  0.820755
085945029332       106   87  0.820755
087871178323       106   87  0.820755
+628978049599      145  119  0.820690
+6285280258179     117   96  0.820513
087871488239       117   96  0.820513
+6285946818688     117   96  0.820513
085211401985       128  105  0.820312
081585957991       111   91  0.819820
+6285716408210     111   91  0.819820
085311852710       127  104  0.818898
+6285863335742     138  113  0.818841
085939644999       138  113  0.818841
082312239982       149  122  0.818792
081316759785       110   90  0.818182
085698287624       110   90  0.818182
081563195624       132  108  0.818182
+6281284353293     126  103  0.817460
+6283891988948     115   94  0.817391
087884136460       115   94  0.817391
+6281231921940     115   94  0.817391
+6285946086060     115   94  0.817391
+6285311270762     104   85  0.817308
083137545566       104   85  0.817308
0895372490516      153  125  0.816993
596701004634533    131  107  0.816794
085779981244       120   98  0.816667
+6281325006195     120   98  0.816667
085219107944       109   89  0.816514
081219340625       136  111  0.816176
082286856175       136  111  0.816176
088212392091       125  102  0.816000
+6285714634564     114   93  0.815789
+6285213351925     114   93  0.815789
+6281387305471     114   93  0.815789
082114408668       152  124  0.815789
+6285311464511     114   93  0.815789
+6281318332926     130  106  0.815385
085215641590       108   88  0.814815
082210269076       135  110  0.814815
081210224290       135  110  0.814815
+6287764604950     108   88  0.814815
+6285216338212     108   88  0.814815
+6285884289010     151  123  0.814570
+6282310935656     124  101  0.814516
087773765888       140  114  0.814286
083127208247       113   92  0.814159
085880482154       215  175  0.813953
085642234091       102   83  0.813725
+6287875701620     118   96  0.813559
085772051801       134  109  0.813433
+6287890526893     107   87  0.813084
+6281398899124     123  100  0.813008
082247562198       139  113  0.812950
087771676610       144  117  0.812500
087772754079       112   91  0.812500
+6283897469509     112   91  0.812500
081381662566       144  117  0.812500
+62895335532335    101   82  0.811881
+6287887041587     101   82  0.811881
081383418127       138  112  0.811594
+6282113966906     122   99  0.811475
085811946230       106   86  0.811321
+6282125566622     106   86  0.811321
+6285782462232     111   90  0.810811
+6281383678180     111   90  0.810811
0895610459259      132  107  0.810606
088212467115       132  107  0.810606
083137545569       116   94  0.810345
+6289678708377     116   94  0.810345
+6283812533294     116   94  0.810345
087773996688       116   94  0.810345
085216163599       137  111  0.810219
085212551169       121   98  0.809917
082299888182       142  115  0.809859
085287494465       142  115  0.809859
083870360510       147  119  0.809524
085893364483       105   85  0.809524
082114040061       126  102  0.809524
085218692190       152  123  0.809211
+6283877620052     110   89  0.809091
+6281386356560     110   89  0.809091
085212753261       136  110  0.808824
081380453907       141  114  0.808511
08561437378        141  114  0.808511
085966485920       120   97  0.808333
+6289505723397     120   97  0.808333
083871933311       146  118  0.808219
+6289643737557     125  101  0.808000
085216585468       151  122  0.807947
085280888708       151  122  0.807947
085217253233       156  126  0.807692
081384941788       109   88  0.807339
085280008040       140  113  0.807143
+6285218375589     114   92  0.807018
085895872528       114   92  0.807018
+6281314579845     114   92  0.807018
085284647707       129  104  0.806202
085226777780       103   83  0.805825
081311040917       108   87  0.805556
081296895295       108   87  0.805556
087883550111       144  116  0.805556
+6287780602786     118   95  0.805085
+6285280899836     118   95  0.805085
+6281213438680     118   95  0.805085
087871758012       143  115  0.804196
082111144411       143  115  0.804196
+6285775215366     107   86  0.803738
087788812855       107   86  0.803738
+6282298690420     107   86  0.803738
+6281381340031     112   90  0.803571
+6285800024844     122   98  0.803279
+6281362417364     132  106  0.803030
085714619169       142  114  0.802817
081293103366       147  118  0.802721
083872210526       162  130  0.802469
+6285740800956     182  146  0.802198
+6285319058565     106   85  0.801887
+6285211693753     111   89  0.801802
083890825379       116   93  0.801724
081282344111       136  109  0.801471
+6285803329524     156  125  0.801282

In [74]:
add[(add[('tar', 'count')]>10) & (add[('tar', 'mean')]>0.6)]

Empty DataFrame
Columns: [(tar, count), (tar, sum), (tar, mean)]
Index: []

In [136]:
zzz=list(add[(add[('tar', 'count')]>100) & (add[('tar', 'mean')]>0.8)].index)

In [89]:
list(add[(add[('tar', 'count')]>30) & (add[('tar', 'mean')]>0.7)].index)

['+628156666291',
 '083808423155',
 '082247562198',
 '+6282314716906',
 '082299888182',
 '+6285884289010',
 '083872210526',
 '+6285740800956',
 '085280161411',
 '+6281295382403',
 '+6285863335742',
 '+6285602746048',
 '+628978049599',
 '+6281992251111',
 '085293687236',
 '+628112667000',
 '+6281214464582',
 '0895372490516',
 '081563195624',
 '081239804780',
 '087719448299',
 '085880482154']

In [197]:
pd.DataFrame(eval(data.connect_json.loc[45]))['phone'].apply(lambda x : 1 if re.compile(r'((^\+628)|(^08)|(^628)|(^\+08))+([0-9]{8,11})$').match(x) else 0)

In [200]:
data_ph['phone_1']=data_ph['phone'].apply(lambda x : 1 if re.compile(r'((^\+628)|(^08)|(^628)|(^\+08))+([0-9]{8,11})$').match(x) else 0)

In [202]:
data_ph['phone_1'].sum()

270

In [203]:
data_ph['phone_1'].count()

280

In [90]:
df=pd.DataFrame(eval(data.connect_json.loc[45]))['phone'].loc[4]

In [191]:
df='62807852191225'

In [18]:
import re

In [19]:
re.match('www', 'www.runoob.com').span()

(0, 3)

In [29]:
r'(^\+628)|(^\08)+(\[0-9]{8,11})?$'

'1630002849944'