In [26]:
import pandas as pd
import numpy as np
import requests 
import pymysql

def get_requests(url, encod=True):
    url = url
    headers = {
        "User-Agent":
            "Mozilla/5.0 (Windows NT 10.0; \
                   WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36"
    }
    response = requests.get(url, headers=headers)
    if encod:
        response.encoding = 'utf-8'
    else:
        response.encoding = 'gbk'
    rs = response.text
    return rs
def sql_table(user_id="0002c7ae0b914ab59f1a15b5fd1d7a56"):
    conn = pymysql.connect(
        host="",
        user="",
        password="",
        db="api_loansuper_x4",
        charset="utf8")
    sql="""    
    SELECT
    a.*
    from
    t_loan_order as a
    LEFT JOIN
    t_loan_order_operate as b on a.loan_id=b.loan_id
    
    WHERE
    a.loan_order_status=5
    and
    b.repay_date>='2021-08-31'
    and
    b.repay_date<='2021-09-03'
    and a.allplatfrom_user_type=1
    and a.extend_times = 0
       """
    df = pd.read_sql(sql, conn)
    conn.close()
    return df
def get_score(loan_id=None,url=None):
    try:
        url=url+loan_id
        score=eval(get_requests(url))["score"]
        return score
    except:
        return -9999

data1=sql_table()

data1=data1.drop_duplicates(subset='loan_id',keep='first')

data=data1

data["star_by"]=data.loan_id

data.index=data.loan_id

import tqdm

data=data[data['extend_times']==0]

In [27]:
import tqdm

In [4]:
for x in tqdm.tqdm(data.loan_id):
    data["star_by"].loc[x]=get_score(loan_id=str(x),url="http://***************/hope_score_v2_x4/loan_id/")

  0%|          | 0/303 [00:00<?, ?it/s]/usr/local/lib64/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
100%|██████████| 303/303 [26:39<00:00,  5.28s/it]

In [17]:
data_111=data[:-96]

In [18]:
for x in tqdm.tqdm(data.loan_id[-96:]):
    data["star_by"].loc[x]=get_score(loan_id=str(x),url="http://**********/hope_score_v2_x4/loan_id/")

  0%|          | 0/96 [00:00<?, ?it/s]/usr/local/lib64/python3.6/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
100%|██████████| 96/96 [06:29<00:00,  4.05s/it]

In [24]:
data222=data[:-46]

,loan_id,app_user_id,mobile,mac_audit_result,loan_order_status,repay_order_status,sure_repay_amount,request_date,app_user_name,app_user_come,...,postpone_days_count,is_new,is_locking,bind_pay_channel,data_json,allplatfrom_user_type,machine_audit_warning,login_user_type,signature_status,star_by
loan_id,,,,,,,,,,,,,,,,,,,,,
1073007,1073007,4b6428b7f9e94ba1a452eac367f6b283,6287772776834,1,5,0,1673000.0,2021-08-24 01:01:39,AGUS SALIM EFENDI,None,...,0,1,0,wyp,None,1,None,0,0,578.480926
1073011,1073011,6e6cb40148024a5fbe5e8539b5bc0063,6282111034903,1,5,1,1582000.0,2021-08-24 01:10:11,ZAENAL AGUS SOLIHAN ANWAR,None,...,0,1,1,wyp,None,1,None,0,0,420.198850
1073026,1073026,ab1d6247ba4a439b9b626e08b5788cf3,6285695070884,1,5,1,1400000.0,2021-08-24 01:25:08,PARID NUGROHO,None,...,0,1,0,wyp,None,1,None,0,0,447.432974
1073054,1073054,6f08d0bf6c944ec48c15153aab0ed5cc,6282115342851,1,5,0,1673000.0,2021-08-24 02:12:50,JOKO SUNARYO,None,...,0,1,0,wyp,None,1,None,0,0,524.302101
1073058,1073058,6f08d0bf6c944ec48c15153aab0ed5cc,6282115342851,1,5,0,1673000.0,2021-08-24 02:22:37,JOKO SUNARYO,None,...,0,1,0,wyp,None,1,None,0,0,524.302101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1078778,1078778,d75b141ae6d2442baf523056c26f018d,6285776509283,1,5,0,1491000.0,2021-08-26 12:38:47,ISTIANI,None,...,0,1,0,wyp,None,1,None,0,0,393.695197
1078801,1078801,d8edcc3f42404f48b0e3a6470ed9cc55,6281251757451,1,5,1,1400000.0,2021-08-26 12:45:43,HERNI RIYANTI DEWI,None,...,0,1,0,wyp,None,1,None,0,0,572.264287
1078805,1078805,d8edcc3f42404f48b0e3a6470ed9cc55,6281251757451,1,5,1,1400000.0,2021-08-26 12:46:46,HERNI RIYANTI DEWI,None,...,0,1,0,wyp,None,1,None,0,0,572.264287
1078808,1078808,9b012f7bd68946e7b6c693294e1c424d,6282293615662,1,5,0,1491000.0,2021-08-26 12:48:14,FADLI,None,...,0,1,0,wyp,None,1,None,0,0,379.239733
1078866,1078866,4ab6a4ff8b3441cc99a0271c529bea67,6289509818983,1,5,0,1491000.0,2021-08-26 13:06:51,HUSNUL KHOTIMAH,None,...,0,1,0,wyp,None,1,None,0,0,523.485184

In [18]:
data1=data[0:1000]

In [7]:
import toad

In [9]:
data6=data[data['star_by']==-9999]

In [5]:
data1=data[data['star_by']!=-9999]

In [22]:
data2=data1[data1['item_code']!='GEU']

In [13]:
toad.KS_bucket(data6['star_by'],1-data6['repay_order_status'])

,min,max,bads,goods,total,bad_rate,good_rate,odds,bad_prop,good_prop,total_prop,cum_bad_rate,cum_bad_rate_rev,cum_bads_prop,cum_bads_prop_rev,cum_goods_prop,cum_goods_prop_rev,cum_total_prop,cum_total_prop_rev,ks
0,-9999.0,-9999.0,234,434,668,0.350299,0.649701,0.539171,1.0,1.0,1.0,0.350299,0.350299,1.0,1.0,1.0,1.0,1.0,1.0,0.0

In [12]:
data6

Empty DataFrame
Columns: [loan_id, app_user_id, mobile, mac_audit_result, loan_order_status, repay_order_status, sure_repay_amount, request_date, app_user_name, app_user_come, request_chanel, sex, app_user_level, loan_cycle, loan_amount, loan_type, app_package_name, app_version, app_name, is_show, real_repay_amount, product_name, item_code, service_money, expense_money, late_fee, rent, remaining_days, overdue_days, order_type, product_id, id_card_no, account_cardno, extend_amount, extend_times, postpone_amount, postpone_times, flat_account_amount, flat_account_times, postpone_status, flat_account_status, postpone_days_count, is_new, is_locking, bind_pay_channel, data_json, allplatfrom_user_type, machine_audit_warning, login_user_type, signature_status, star_by]
Index: []

[0 rows x 51 columns]

In [1]:
from dateutil.parser import *
import pymongo
import time
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import joblib
import tqdm

In [44]:
start = time.time()
myclient = pymongo.MongoClient("mongodb://*****************")
mydb = myclient['RiskMongodb']
mycol = mydb["riskParamsNewDto"]
myDatetime=parse('2021-09-01 23:59:59')
myDatetime2=parse('2021-09-08 23:59:59')
x = mycol.find({"requestDate": {'$gt': myDatetime,'$lt': myDatetime2},"merchantCode":{"$in":["x2_system"]},"tLoanOrderDto.loanOrderStatus":5,"tLoanOrderDto.allplatfromUserType":1},{"platformTurnoverNo":1,'tLoanOrderDto.repayOrderStatus':1,"tLoanOrderDto.extendAmount":1})
ind_mu={}
ind=0
for i in x:
    ind=i['platformTurnoverNo']
    ind_mu[ind]=i
myclient.close()
end =time.time()
print("Running time: %s seconds"%(end - start))

indkeys=list(ind_mu.keys())

Running time: 3.9049794673919678 seconds

In [51]:
test=pd.DataFrame(ind_mu).T

In [52]:
test['repayOrderStatus']=test['tLoanOrderDto'].apply(lambda x: x['repayOrderStatus'])

In [53]:
test['extendAmount']=test['tLoanOrderDto'].apply(lambda x: x['extendAmount'])

In [38]:
test_score={}
for x in tqdm.tqdm(indkeys):
    test_score[x]=get_score(loan_id=str(x),url="**************/platformTurnoverNo/")

100%|██████████| 2430/2430 [2:18:46<00:00,  3.43s/it]

In [59]:
data_score=pd.DataFrame(test_score,index=['score']).T

In [63]:
test=test.merge(data_score,how='left',right_index=True,left_index=True)

In [66]:
test1=test[:2200]

In [71]:
test2=test1[test1['extendAmount']<1]

In [73]:
import toad

In [76]:
toad.KS_bucket(test2['score'],1-test2['repayOrderStatus'],bucket=[376,399,416,432,449,466,484,513,544,654])

,min,max,bads,goods,total,bad_rate,good_rate,odds,bad_prop,good_prop,...,cum_bad_rate,cum_bad_rate_rev,cum_bads_prop,cum_bads_prop_rev,cum_goods_prop,cum_goods_prop_rev,cum_total_prop,cum_total_prop_rev,ks,lift
0,285.396782,375.926052,204,198,402,0.507463,0.492537,1.030303,0.269841,0.165275,...,0.507463,0.386899,0.269841,1.000000,0.165275,1.000000,0.205732,1.000000,0.104566,1.311617
1,376.004295,398.954139,118,180,298,0.395973,0.604027,0.655556,0.156085,0.150250,...,0.460000,0.355670,0.425926,0.730159,0.315526,0.834725,0.358240,0.794268,0.110400,1.188942
2,399.111626,415.962108,113,135,248,0.455645,0.544355,0.837037,0.149471,0.112688,...,0.458861,0.346093,0.575397,0.574074,0.428214,0.684474,0.485159,0.641760,0.147183,1.185997
3,416.056249,431.828878,78,128,206,0.378641,0.621359,0.609375,0.103175,0.106845,...,0.444541,0.319085,0.678571,0.424603,0.535058,0.571786,0.590583,0.514841,0.143513,1.148985
4,432.124410,448.994861,77,98,175,0.440000,0.560000,0.785714,0.101852,0.081803,...,0.443943,0.303750,0.780423,0.321429,0.616861,0.464942,0.680143,0.409417,0.163562,1.147439
5,449.009994,465.817714,56,102,158,0.354430,0.645570,0.549020,0.074074,0.085142,...,0.434432,0.265600,0.854497,0.219577,0.702003,0.383139,0.761003,0.319857,0.152494,1.122857
6,466.080909,483.497835,42,93,135,0.311111,0.688889,0.451613,0.055556,0.077629,...,0.424168,0.235546,0.910053,0.145503,0.779633,0.297997,0.830092,0.238997,0.130420,1.096328
7,484.001360,512.594585,29,102,131,0.221374,0.778626,0.284314,0.038360,0.085142,...,0.409013,0.204819,0.948413,0.089947,0.864775,0.220367,0.897134,0.169908,0.083638,1.057158
8,513.397928,543.468804,19,79,98,0.193878,0.806122,0.240506,0.025132,0.065943,...,0.397623,0.194030,0.973545,0.051587,0.930718,0.135225,0.947288,0.102866,0.042827,1.027718
9,544.959261,645.975572,20,83,103,0.194175,0.805825,0.240964,0.026455,0.069282,...,0.386899,0.194175,1.000000,0.026455,1.000000,0.069282,1.000000,0.052712,0.000000,1.000000